/U5_在无标签数据上进行预训练/01_main-chapter-code/model_and_optimizer.pth
/U5_在无标签数据上进行预训练/01_main-chapter-code/model.pth
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/checkpoint
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/encoder.json
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/hparams.json
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/model.ckpt.data-00000-of-00001
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/model.ckpt.index
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/model.ckpt.meta
/U5_在无标签数据上进行预训练/01_main-chapter-code/gpt2/124M/vocab.bpe
/U6_针对分类的微调/01_main-chapter-code/sms_spam_collection/readme
/U6_针对分类的微调/01_main-chapter-code/sms_spam_collection.zip
/U6_针对分类的微调/01_main-chapter-code/sms_spam_collection/SMSSpamCollection.tsv
/U6_针对分类的微调/01_main-chapter-code/test.csv
/U6_针对分类的微调/01_main-chapter-code/train.csv
/U6_针对分类的微调/01_main-chapter-code/validation.csv
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/checkpoint
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/encoder.json
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/hparams.json
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/model.ckpt.data-00000-of-00001
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/model.ckpt.index
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/model.ckpt.meta
/U6_针对分类的微调/01_main-chapter-code/gpt2/124M/vocab.bpe
/U6_针对分类的微调/01_main-chapter-code/loss-plot.pdf
/U6_针对分类的微调/01_main-chapter-code/accuracy-plot.pdf
/U6_针对分类的微调/01_main-chapter-code/review_classifier.pth
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/checkpoint
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/encoder.json
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/hparams.json
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/model.ckpt.data-00000-of-00001
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/model.ckpt.index
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/model.ckpt.meta
/U7_通过微调遵循人类指令/01_main-chapter-code/gpt2/355M/vocab.bpe
/gpt2/124M/checkpoint
/gpt2/124M/encoder.json
/gpt2/124M/hparams.json
/gpt2/124M/model.ckpt.data-00000-of-00001
/gpt2/124M/model.ckpt.index
/gpt2/124M/model.ckpt.meta
/gpt2/124M/vocab.bpe
/gpt2/355M/checkpoint
/gpt2/355M/encoder.json
/gpt2/355M/hparams.json
/gpt2/355M/model.ckpt.data-00000-of-00001
/gpt2/355M/model.ckpt.meta
/gpt2/355M/vocab.bpe
