/U5/01_main-chapter-code/model_and_optimizer.pth
/U5/01_main-chapter-code/model.pth
/U5/01_main-chapter-code/gpt2/124M/checkpoint
/U5/01_main-chapter-code/gpt2/124M/encoder.json
/U5/01_main-chapter-code/gpt2/124M/hparams.json
/U5/01_main-chapter-code/gpt2/124M/model.ckpt.data-00000-of-00001
/U5/01_main-chapter-code/gpt2/124M/model.ckpt.index
/U5/01_main-chapter-code/gpt2/124M/model.ckpt.meta
/U5/01_main-chapter-code/gpt2/124M/vocab.bpe
/U6/01_main-chapter-code/sms_spam_collection/readme
/U6/01_main-chapter-code/sms_spam_collection.zip
/U6/01_main-chapter-code/sms_spam_collection/SMSSpamCollection.tsv
/U6/01_main-chapter-code/test.csv
/U6/01_main-chapter-code/train.csv
/U6/01_main-chapter-code/validation.csv
/U6/01_main-chapter-code/gpt2/124M/checkpoint
/U6/01_main-chapter-code/gpt2/124M/encoder.json
/U6/01_main-chapter-code/gpt2/124M/hparams.json
/U6/01_main-chapter-code/gpt2/124M/model.ckpt.data-00000-of-00001
/U6/01_main-chapter-code/gpt2/124M/model.ckpt.index
/U6/01_main-chapter-code/gpt2/124M/model.ckpt.meta
/U6/01_main-chapter-code/gpt2/124M/vocab.bpe
/U6/01_main-chapter-code/loss-plot.pdf
/U6/01_main-chapter-code/accuracy-plot.pdf
/U6/01_main-chapter-code/review_classifier.pth
