/U5/01_main-chapter-code/model_and_optimizer.pth
/U5/01_main-chapter-code/model.pth
/U5/01_main-chapter-code/gpt2/124M/checkpoint
/U5/01_main-chapter-code/gpt2/124M/encoder.json
/U5/01_main-chapter-code/gpt2/124M/hparams.json
/U5/01_main-chapter-code/gpt2/124M/model.ckpt.data-00000-of-00001
